@import url('./colorVariables.css');

body{
    grid-template-rows: 10% 45% 45%;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.stopwatchNumbers{
    width: clamp(10rem, 60vw, 29rem);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: clamp(4rem, 7vw, 10rem);
}

.secondsHundredths{
    width: clamp(5rem, 19vw, 8rem);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.hundredths{
    font-size: clamp(1.5rem, 4vw, 6rem);
}

footer{
    align-items: center;
}