/*Importing css file with colors*/
@import url('./colorVariables.css');

/*Container for timer circle and its content*/
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

/*Whole timer circle*/
svg{
    display: block;  /*Preventing extra space under*/
    transform: rotate(-90deg);  /*Rotating so it starts from the top*/
    height: auto;
    width: clamp(350px, 50vw, 600px);
}

circle{
    stroke-width: 5;
    fill: none;
}

.background{
    stroke: #BACAF9;
}

.progress{
    stroke: var(--pageBlue);
    stroke-linecap: round;
}

/*Initial timer value text*/
.timerTime{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(1rem, 2.5vh, 1.5rem);
}

/*Middle timer text*/
.timeText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    font-size: clamp(3rem, 8vh, 5rem);
}

/*Timer end message*/
.timeIsUp{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    font-size: clamp(0.7rem, 2vh, 1rem);
}

.timeIsUp img{
    width: clamp(0.7rem, 2vh, 1rem);
    height: clamp(0.7rem, 2vh, 1rem);
}

/*Dismiss/restart container*/
.dismissRestart{
    width: clamp(17rem, 34vh, 20rem);
    height: auto;
    display: none;
    justify-content: space-between;
}

