/*Importing Roboto Google font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

/*Making body a main grid container*/
body{
    height: 100%;
    background-color: #212121;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 80% 10%;
}

/*Header flex container*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 4vh;
    height: 4vh;
}

header img:hover{
    cursor: pointer;
}

/*Left header flex container*/
.headerLeft{
    width: 20vh;
    display: flex;
    justify-content: space-evenly;
}

/*Right header flex container*/
.headerRight{
    width: 40vh;
    display: flex;
    justify-content: space-around;
}

button{
    width: 15vh;
    height: 5vh;
    border-radius: 10vh;
    border: none;
    color: inherit;
    font-family: inherit;
    font-weight: 700;
    font-size: 2vh;
}

button:hover{
    cursor: pointer;
}

/*Button for starting timer/stopwatch*/
.startButton{
    background-color: #305CDE;
}

/*Container for pause and reset buttons*/
.pauseReset{
    width: 32vh;
    height: 5vh;
    display: none;
    justify-content: space-between;
}

.resetButton{
    background-color: #616161;
}

.pauseButton{
    background-color: #CB4949;
}

.resumeButton{
    background-color: #305CDE;
    display: none;
}