/*Importing Roboto Google font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/*Importing css file with colors*/
@import url('./css/colorVariables.css');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

/*Making body a main grid container*/
body{
    height: 100%;
    background-color: var(--pageBlack);
    color: var(--pageWhite);
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 80% 10%;
}

/*Style for body when white mode is on*/
body.white{
    background-color: var(--pageWhite);
    color: var(--pageBlack);
}

/*Header flex container*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: clamp(2rem, 4.5vh, 4rem);
    height: clamp(2rem, 4.5vh, 4rem);
}

header img:hover{
    cursor: pointer;
}

header a{
    height: auto;
    width: auto;
    display: block;
    line-height: 0;
}

/*Left header flex container*/
.headerLeft{
    width: clamp(10rem, 25vh, 15rem);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Right header flex container*/
.headerRight{
    width: clamp(10rem, 45vh, 25rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Button container*/
footer{
    display: flex;
    justify-content: center;
    align-items: top;
}

/*Style for every button inside website*/
button{
    width: 80%;
    max-width: 130px;
    height: clamp(3rem, 6vh, 4rem);
    border-radius: 99999px;
    border: none;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    font-size: clamp(1rem, 2.5vh, 5rem);
}

#darkWhite{
    border: none;
    background-color: transparent;
    width: auto;
    height: auto;
    border-radius: 0;
    line-height: 0;
}

button:hover{
    cursor: pointer;
}

/*Button for starting timer/stopwatch*/
.blueButton{
    background-color: var(--pageBlue);
}

.blueButton:hover{
    background-color: var(--pageBlueHover);
}

/*Container for pause and reset buttons*/
.footerButtons{
    width: clamp(17rem, 34vh, 20rem);
    height: auto;
    display: none;
    justify-content: space-between;
}

.grayButton{
    background-color: #616161;
}

.grayButton:hover{
    background-color: #414141;
}

.redButton{
    background-color: #CB4949;
}

.redButton:hover{
    background-color: #D02424;
}

.resumeButton{
    display: none;
}

